.jahe-body {
  font-family: "Noto Sans Javanese", sans-serif;
  background-color: #f9f9f9;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jahe-contents {
  display: flex;
  width: 100%;
  height: 100%;
}


/* Kiri — background curved */
.jahe-left {
  flex: 1;
  background: #d0b466;
  border-radius: 0 50% 50% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-jahe {
    position: relative; /* penting! */
}

.close-btn {
    position: absolute;
    top: 90px;
    left: 20px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    z-index: 10;
    transition: 0.5s;
}

.close-btn span {
    font-size: 100px;
}


.jahe-img {
  width: 130%;
  height: auto;
  margin-left: 15%;
}

/* Kanan — teks */
.jahe-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;   /* ← mulai dari kiri agar tidak tabrakan */
  padding-left: 15%;
}

.jahe-right h1 {
  font-family: "League Spartan", sans-serif;
  font-size: 85px;
  margin-bottom: 0px;
  margin: 0;
  color: #c2a85f;
  text-shadow: 1px 1px 5px #a39d70;
}

.jahe-right h2 {
    font-family: "Noto Sans Javanese",sans-serif;
    font-size: 35px;
    margin: 0;
    color: #c2a85f;
    text-shadow: 1px 1px 5px #a39d70;
}

.jahe-right p {
  font-family: "Raleway",sans-serif;
  font-size: 20px;
  font-weight: 450;
  color: #524215;
  margin: 5px 0 0 0;
  line-height: 1.6;
  max-width: 400px;
  text-align: left;
  text-shadow: 1px 1px 5px #8e864675;
}

.back-button {
  background: linear-gradient(180deg, #7b542f, #b6771d);
  color: rgb(241, 241, 241);
  text-decoration: none;
  width: 100px;
  height: 35px;
  border-radius: 30px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button :hover {
    box-shadow: 1px 1px 1px gold;
}

.back-button p {
  font-family: "League Spartan", sans-serif;
  color: wheat;
  margin: 0;
  font-size: 13px;
  font-weight: bold;
}
