@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Javanese:wght@400..700&display=swap");

body {
  font-family: "Noto Sans Javanese", sans-serif;
  background-color: #f9f9f9;
  /* padding-top: 400px; */
  text-align: center;
  color: #7b542f;
  margin: 0px;
  padding: 0px;
}

html {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none; /* Older Safari and Chromium */
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fff7ef;
  position: relative;
}

.hero-content {
  text-align: center;
  position: relative;
}

.teks-kanan,
.teks-kiri {
  font-size: 90px;
  color: #d0a85a;
  font-weight: lighter;
  opacity: 0;
  position: relative;
  line-height: 1.1;
  z-index: 0;
}

.teks-kanan {
  transform: translateX(80px);
}

.teks-kiri {
  transform: translateX(-80px);
}

.hero-image {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 5;
}

.hero-image img {
  width: 500px;
}

.hero-btn {
  position: absolute;
  top: calc(50% + 200px);
  left: 50%;
  transform: translateX(-50%);

  padding: 12px 30px;
  font-size: 24px;
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 40px;
  background: linear-gradient(90deg, #986231, #d0b466);
  background-size: 200% 100%;
  cursor: pointer;
  transition: background-position 0.3s ease, transform 0.2s ease;
  text-decoration: none;
  z-index: 10;
}

/* Hover effect */
.hero-btn:hover {
  background-position: right;
  transform: translateX(-50%) scale(1.05);
}

.jawa span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  margin-right: 2px;
  font-size: 2.2rem;
}

.spacer {
  height: 300px;
}

.empon-penjelasan {
  background-color:#fff9eb;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
}

.empon-headline {
  width: 100%;
  text-shadow: -8px 2px 10px rgba(145, 132, 113, 0.817);
  margin-left: 50px;
}

.empon-latin h1 {
  margin: 0;
  font-size: 130px;
}

.empon-aksara h1 {
  margin-top: 0;
  font-size: 25px;
  text-align: center;
}

.empon-latin {
  font-family: "League Spartan",sans-serif;
  font-size: 80px;
}


.empon-teks {
  height: 200px;
  align-items: center;
  font-family:"Raleway",sans-serif;
  text-align: left;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.empon-teks h1{
  font-size: 45px;
  font-weight:bolder;
  color:#d0a85a;
  margin: 30px 0 10px 0;
  text-shadow: 1px 1px 5px rgb(138, 104, 41);
}
.empon-teks h2{
  font-size: 17.5px;
  margin: 0;
  color:#7b542f
}

.macam-section {
  text-align: center;
  padding: 60px 40px;
  background-image: linear-gradient(to bottom, #7b542f, #8a5c2c, #996529, #a86e24, #b6771d);
  height: 26rem;
}

.judul-macam {
  font-size: 36px;
  color: #fff9eb;
  margin-bottom: 20px;
}

.mySwiper {
  width: 100%;
  padding: 40px 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.card {
  width: 280px;
  padding: 25px;
  border-radius: 18px;
  background: #fff9e6;
  border: 2px solid #d5b884;
  transition: 0.4s ease;
}


.swiper-slide:not(.swiper-slide-active) .card {
  transform: scale(0.8);
  opacity: 0.5;
  filter: blur(1px);
  pointer-events: none; 
}

.swiper-slide-active .card {
  transform: scale(1);
  opacity: 1;
  filter: none;
  pointer-events: auto; 
}

.waos-btn {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  background: #d0a85a;
  color: white;
  border: none;
  cursor: pointer;
}


/* ------------------- SECTION OLAHAN -------------------------- */
.div-olahan {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 40px;
  margin-bottom: 5rem;
  margin-top: 8rem;
}

/* --- lingkaran luar --- */
.circle-card {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: relative;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hijau {
  background: rgb(156, 255, 156);
}

.merah {
  background: #ffd4d4;
}

.kuning {
  background: #fff3c2;
}

.coklat {
  background: #ffefc1;
}

/* --- lingkaran dalam --- */
.inner-circle-seruni {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(circle, #e8ffe1, #71ff39);
  margin: 10px auto;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle-uwuh {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(circle, #ffd4d4, #d60328);
  margin: 10px auto;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle-temulawak {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(circle, #fff0b1, #ff9900);
  margin: 10px auto;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle-jahe {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(circle, #fffeb1, #c67800);
  margin: 10px auto;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- nama olahan --- */
.title-olahan {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  z-index: 10;
}

/* --- teks samping kanan kiri--- */
.side-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #7a3e00;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.side-text.left {
  left: 10px;
  transform: translateY(-50%) rotate(180deg);
}

.side-text.right {
  right: 10px;
}

/* --- foto/elemen --- */
.drink-img {
  width: 110px;
  height: 110px;
  border-radius: 8px;
  object-fit: cover;
}

.stars {
  font-size: 28px;
  color: gold;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  background-color: #7b542f;
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
  color: #fff7ef;
  border-radius: 25px 25px 0 0;
}

